* {
    /* Global values */
    font-family: "Imagine";
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    /* Disable font anti-aliasing for pixel type */
    font-smooth: never;
    -webkit-font-smoothing : none;
}

@font-face {
  font-family: "Imagine";
  /* Convert to woff2 later */
  src: url('../font/imagine.ttf');
}

.game-window {
    width: 1280px;
    height: 720px;
    position: absolute;
    /* Center the game window */
    left: calc(50vw - 640px);
    top: calc(50vh - 360px);
    /* Make sure nothing can be seen outside the game window */
    overflow:hidden;
}

.view {
    /* Each section of the interface, hidden by default */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* Show initial screen */
.view.showing {
    display: block;
}

.view.main-menu {
    background: rgb(45,19,61);
    background: -moz-linear-gradient(top, rgba(45,19,61,1) 0%, rgba(11,20,38,1) 100%);
    background: -webkit-linear-gradient(top, rgba(45,19,61,1) 0%,rgba(11,20,38,1) 100%);
    background: linear-gradient(to bottom, rgba(45,19,61,1) 0%,rgba(11,20,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d133d', endColorstr='#0b1426',GradientType=0 );
}

.view.create-game {
    background: rgb(246,69,133);
    background: -moz-linear-gradient(top, rgba(246,69,133,1) 0%, rgba(59,0,96,1) 100%);
    background: -webkit-linear-gradient(top, rgba(246,69,133,1) 0%,rgba(59,0,96,1) 100%);
    background: linear-gradient(to bottom, rgba(246,69,133,1) 0%,rgba(59,0,96,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f64585', endColorstr='#3b0060',GradientType=0 );
}

h1 {
    position: absolute;
    /* Minimum 64px margins around entire game window for main menu */
    top: 64px;
    left: 64px;
    font-size: 80px;
    margin: 0;
}

h2 {
    position: absolute;
    /* Minimum 64px margins around entire game window for main menu */
    top: 64px;
    left: 64px;
    font-size: 64px;
    margin: 0;
}

.main-menu > ul {
    /* Remove list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 64px;
    left: 64px;
}

.main-menu > ul > li {
    width: 600px;
    font-size: 42px;
    padding: 12px 24px;
}

.main-menu > ul > li:hover {
    /* Sunset gradients */
    background: rgb(246,69,133);
    background: -moz-linear-gradient(left, rgba(246,69,133,1) 0%, rgba(252,255,59,1) 100%);
    background: -webkit-linear-gradient(left, rgba(246,69,133,1) 0%,rgba(252,255,59,1) 100%);
    background: linear-gradient(to right, rgba(246,69,133,1) 0%,rgba(252,255,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f64585', endColorstr='#fcff3b',GradientType=1 );
    cursor: pointer;
}

.main-menu > a.thefeeltrain {
    /* Always sign your work */
    position: absolute;
    bottom: 32px;
    right: 32px;
    font-size: 18px;
    text-decoration: none;
}

.settings {
    font-size: 42px;
    position: absolute;
    top: 200px;
    left: 64px;
}

.setting {
    margin-bottom: 32px;
}

.setting > ul {
    margin: 0 0 0 48px;
    padding: 0;
    display: inline-block;
    list-style-type: none;
}

.setting > ul > li {
    transition: .2s;
    display: inline-block;
    margin-right: 16px;
}

.setting > ul > li.selected {
    color: #F4BB00;
}

.setting > ul > li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.start, .back {
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    right: 64px;
    font-size: 42px;
    width: 200px;
    padding: 8px;
    text-align: right;
    transition: 0.2s;
}

.back {
    left: 64px;
    text-align: left;
}

.back:hover, .start:hover {
    background: #fff;
    color: #000;
}
